In [5]:
# print 0 to 20 by using range in printing Vertical Order
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
# print 10 to 20 by printing Horizontal Order
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [9]:
# Print number of items in the list by using 'len'
list2 =[10, 20, 14, 55, 43, 87, 76]
print("Number of Item in the List2:",len(list2))

Number of Item in the List2: 7

In [23]:
#Print Name in Horizontal
GetName = input()
for char in GetName:
    print(char)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [29]:
GetName =input("-Your Name-")
GetAge =int(input("-Your Age-"))
GetProf=input("-Your Profession-")

-Your Name- test name
-Your Age- 2
-Your Profession- test pro

In [30]:
## Print this mixered datatype using Tuples 
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [31]:
Tuple1 = (0, 1, 2, 3)
Tuple2 =  ('python', 'HOPE')
Tuple3 = (Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [6]:
#print Odd Numbers in the list
lists=[20,10,16,19,25,1,276,188]
for oddn in lists:
    if (oddn%2):
        print(oddn,"is Odd")

19 is Odd
25 is Odd
1 is Odd

In [17]:
#print Even Numbers in the list
lists=[20,10,16,19,25,1,276,188]
for evenno in lists:
    if (evenno%2==0):print(evenno,"is Even")
    #else:print(evenno,"is Odd")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even