In [7]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [ ]:
#Caps M changed to lower case m

In [17]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

In [ ]:
#Error Expected 1 input Argument (x) in the funciton and should declared global

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

In [ ]:
#Error: Syntax Error and x is not called in print, == required

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [ ]:
#Error: get it sorted first and pass numbers in print as numbers.sort()

In [ ]:
#5.
def square(n):
    a= n * n

print(a)

In [ ]:
#Error: variable not assigned to the operand
square(4)

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [ ]:
#Error: 2 will be replaced as 5 in 1st index
my_tuple = [1, 2, 3]
my_tuple[1] = 5
print (my_tuple)

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [ ]:
#Error: not formatted and to pass parameter in curly brasis
print(f"My name is {name} and I am {age} years old")

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [ ]:
#No Error

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [44]:
#Error: swap the position from 5 to 1 and 1 to 5.
for i in range(1,5):
    print (i)

1
2
3
4

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [47]:
#Error: print with formatter name and age
student={"name":"john","age":20}
print(f"student {name} {age}")

student Alice 25